#content {
  position: absolute;
  top: 90px;
  z-index: 0;
}

@media (max-width: 410px) {
  #content {
    top: 54px;
  }
}

@media (max-width: 630px) {
  #content {
    left: 10px;
    width: calc(100% - 20px);
  }
}

@media (min-width: 630px) {
  #content {
    left: calc(50% - 300px);
    width: 600px;
  }
}

.pane {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  background-color: white;
  width: 100%;
  margin-bottom: 10px;
}

.pane h1 {
  font-weight: 500;

  margin: 0 0 10px 0;
  padding: 0;

  font-size: 20px;
}

.pane br {
  content: '';
  display: block;
  height: 10px;
}

.pane p {
  margin: 0;
  padding: 0;
}

.pane a {
  color: #777;
  text-decoration: none;
}

.pane a:hover {
  color: #4078c0;
}

.pane .github-link {
  overflow: hidden;
  color: transparent;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url('../images/github.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 200%;
  width: 22px;
  height: 22px;
}

.pane .github-link:hover {
  color: transparent;
  background-position: 0 100%;
}

.pane .apparent-link {
  text-decoration: underline;
}
