#accounts-list {
  display: table;
  margin: 10px auto 0 auto;
}

.account {
  float: left;
  display: table-cell;
  margin: 0 20px;

  color: #777;
  text-decoration: none;
  text-align: center;
}

.account:hover {
  color: #4078c0;
}

.account label {
  cursor: pointer;
}

.account-icon {
  display: block;
  width: 50px;
  height: 50px;

  background-size: 100% 200%;
}

.account:hover .account-icon {
  background-position: 0 100%;
}

.account-icon-github {
  background-image: url('../images/github.svg');
}

.account-icon-twitter {
  background-image: url('../images/twitter.svg');
}

.account-icon-email {
  background-image: url('../images/email.svg');
}

#projects-sizes {
  display: table;
  margin: auto auto;
}

.projects-size {
  display: table-cell;
  float: left;
  width: 90px;

  position: relative;

  line-height: 18px;
  margin: 0;
  padding: 40px 0 0 0;

  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: #777;
}

.projects-size::before {
  position: absolute;
  content: '';
  display: block;
  background-image: url('../images/dot.svg');
  background-size: 100% 200%;
  background-position: 0 0;
  background-repeat: no-repeat;
  bottom: 40px;
}

.projects-size:hover::before {
  background-position: 0 100%;
}

.projects-size:hover {
  color: #4078c0;
}

.projects-size-small::before {
  height: 14px;
  width: 14px;
  left: calc(50% - 7px);
}

.projects-size-medium::before {
  height: 20px;
  width: 20px;
  left: calc(50% - 10px);
}

.projects-size-large::before {
  height: 26px;
  width: 26px;
  left: calc(50% - 13px);
}
