html, body {
  margin: 0;
  background-color: #f0f0f0;
  width: 100%;
  height: 100%;

  font-family: Roboto, sans-serif;
  color: #777;
}

header::before {
  content: '';
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: white;
}

header {
  position: fixed;
  top: 0;
  z-index: 1;
}

@media (max-width: 630px) {
  header {
    left: 10px;
    width: calc(100% - 20px);
  }
}

@media (min-width: 630px) {
  header {
    left: calc(50% - 300px);
    width: 600px;
  }
}

header > * {
  position: relative;
}

#home-link {
  padding: 0;
  margin: 0;
}

#home-link:hover h1, #home-link:hover h2 {
  color: #4078c0;
}

header a::before {
  position: absolute;
  content: '';
  display: block;
  background-image: url('../images/dot.svg');
  background-size: 100% 200%;
  background-position: 0 0;
  background-repeat: no-repeat;
}

header .current-link::before, header a:hover::before {
  background-position: 0 100%;
}

.small-header-link::before {
  height: 14px;
  width: 14px;
  left: calc(50% - 7px);
}

.medium-header-link::before {
  height: 20px;
  width: 20px;
  left: calc(50% - 10px);
}

.large-header-link::before {
  height: 26px;
  width: 26px;
  left: calc(50% - 13px);
}

@media (max-width: 410px) {
  header, header::before {
    height: 44px;
  }

  header h1 {
    margin: 0;
    padding: 0;
    height: 44px;
    line-height: 44px;
    font-size: 25px;
  }

  header h2 {
    display: none;
  }

  header nav {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  header a {
    display: inline-block;
    position: relative;
    float: left;
    height: 44px;
    color: transparent;
    padding: 0 10px;
  }

  .small-header-link {
    width: 14px;
  }

  .medium-header-link {
    width: 20px;
  }

  .large-header-link {
    width: 26px;
  }

  .small-header-link::before {
    top: 15px;
  }

  .medium-header-link::before {
    top: 12px;
  }

  .large-header-link::before {
    top: 9px;
  }
}

@media (min-width: 410px) {
  header, header::before {
    height: 80px;
  }

  header h1 {
    margin: 5px 0 5px 0;
    padding: 0;
    height: 40px;
    line-height: 50px;
    font-size: 36px;
    font-weight: 400;
  }

  header h2 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 300;
  }

  header nav {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  header a {
    position: relative;
    display: inline-block;
    float: left;

    padding: 50px 0 0 0;
    margin: 0 0 0 20px;
    line-height: 25px;

    font-size: 16px;
    font-weight: 300;

    text-decoration: none;
    color: #777;
  }

  header .current-link, header a:hover {
    color: #4078c0;
  }

  header a::before {
    bottom: 30px;
  }
}
