.screenshots {
  position: relative;
  width: 100%;
  margin: 10px 0 0 0;
}

.screenshots-image {
  position: absolute;
  cursor: pointer;
}

.screenshots-arrow {
  position: absolute;

  border: none;

  background-color: transparent;
  background-size: 100% 200%;
  background-repeat: no-repeat;
  background-position: 0 0;

  cursor: pointer;
}

.screenshots-arrow:hover {
  background-position: 0 100%;
}

.screenshots-arrow:focus {
  outline: 0;
}

.screenshots-arrow-left {
  background-image: url('../images/left.svg');
}

.screenshots-arrow-right {
  background-image: url('../images/right.svg');
}

@media (max-width: 410px) {
  .screenshots-arrow {
    top: calc(50% - 30px);
    width: 30px;
    height: 60px;
  }
}

@media (min-width: 410px) {
  .screenshots-arrow {
    top: calc(50% - 50px);
    width: 50px;
    height: 100px;
  }
}

.screenshots-page-dots {
  display: table;
  position: absolute;
  height: 10px;
  padding-top: 10px;
  bottom: 0;
}

.screenshots-page-dot {
  display: table-cell;
  float: left;
  margin: 0 13px;
  background-color: transparent;
  background-size: 100% 200%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url('../images/page_dot.svg');
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.screenshots-page-dot-current {
  background-position: 0 100%;
}
